.hero {
  padding-bottom: 36px;
  background-color: #F2F3F6;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  &-paragraph {
    margin-bottom: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #111238;
  }
  &-list {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &-item {
      border: 1px solid #B2B2B2;
      font-weight: 400;
      font-size: 14px;
      color: #B2B2B2; 
      padding: 5px 10px;  
      border-radius: 5px;   
    }
  }
  &-title {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #B2B2B2;  
    text-align: center;
  }
}
.form {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 10px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  gap: 35px;
  border-radius: 5px;
  border: 1px solid  rgba(209, 209, 209, 0.1);
  &-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  // &-label-searching {

  // }
  &-input-searching {
    border: none;
    font-weight: 400;
    font-size: 16px;
    color: gray;
    background-color: transparent;
  }
  &-button {
    padding: 15px 26px;
    border-radius: 5px;
    border: none;
    background-color: #1A75E8;
  }
}
.img-wrapper {
  display: flex;
  justify-content: center;
}